#editor {overflow:scroll; max-height:300px}
/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */

#editor {
	max-height: 250px;
	height: 250px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

.img-fluid-slide {
  max-width: 100%;
  height: 700px; }

.vm li{
  background-color:rgb(91, 89, 86,0.5);
  color: #ffffff;
  margin: 10px;
  text-align: justify;
  padding: 5px;
  font-weight: 1000;
}

.bg-sd{
  background-color: #612020;
  color: #ffffff;
}

h1.text-white{
  background-color: #ffffff !important;
  co
}
.menu1 h1{
  font-weight: 400!important;
  border-top: 5px solid #ffffff !important;
  border-left: 5px solid #ffffff !important;
  padding: 5px;
}

.menu1 h1:hover{
  -webkit-box-shadow: 13px 13px 10px #808080;
  -moz-box-shadow: 13px 13px 10px #808080;
  box-shadow: 13px 13px 10px #808080;
  color: #ffffff !important; 
  background-color: #612020;
  transition: 0.3s ease-in-out;
}
.menu1 a:hover{
  text-decoration: none;
}

.menu1 h1{
  background-color: #ffffff;
  margin-bottom: -1px;
}

.menu-text{
  color: #612020;
}